:root {
	--background-color: #3c424b;
	--button-color: #272a33;
	--text-color: #f2f2f2;
	--accent-color: #1bb76e;
	--error-color: #ff5b57;
}

.imgur-upload-wrapper {
	position: absolute;
	z-index: 1;
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	color: var(--text-color);
	border-radius: 6px;
	box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
}

.imgur-upload-form {
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
}

.imgur-upload-input {
	border: 3px dashed hsla(0, 0%, 100%, 0.4);
	border-radius: 6px;
	padding: 20px;
	cursor: pointer;
}
.imgur-upload-input::-webkit-file-upload-button {
    visibility: hidden;
	display: none;
}
.imgur-upload-input::before {
	content: "Click to select, drop file here, or 'Ctrl/Cmd + V' to paste";
	display: block;
	text-align: center;
	color: var(--text-color);
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
	white-space: pre-wrap;
}

.imgur-upload-button {
	text-align: center;
	margin-top: 10px;
	height: 35px;
	padding: 7px 14px 10px 9px;
	border-radius: 6px;
	font-size: 15px;
	font-weight: 700;
	position: relative;
	width: auto;
	background-color: var(--accent-color);
	box-shadow: 0 6px 10px 0 rgb(27 28 30 / 31%);
	color: var(--text-color);
	white-space: nowrap;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
}

.imgur-upload-button-disabled {
	background-color: hsla(0, 0%, 100%, 0.4);
	color: hsla(0, 0%, 100%, 0.4);
	cursor: not-allowed;
}

.imgur-upload-message {
	margin-top: 10px;
	padding: 0 14px;
	font-size: 15px;
	font-weight: 400;
	position: relative;
	width: auto;
	color: var(--error-color);
	white-space: nowrap;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
}
